################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OAuthNativeFlow/.vs/OAuthNativeFlow/v15
/OAuthNativeFlow/.vs/OAuthNativeFlow/v16
