<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--
    ========================================================================
    EXCLUSIVE ON themeforest.net
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Template Name   : AppWay
    ========================================================================
    -->
    <!-- Page Title -->
    <title>AppWay - App Landing Page</title>
    <!-- / -->
    <!---Font Icon-->
    <link href="static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <!-- / -->
    <!-- Plugin CSS -->
    <link href="static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="static/plugin/magnific/magnific-popup.css" rel="stylesheet">
    <!-- / -->
    <!-- Theme Style -->
    <link href="static/css/styles.css" rel="stylesheet">
    <link href="static/css/color/default.css" rel="stylesheet" id="color_theme">
    <!-- / -->
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" />
    <!-- / -->
</head>

<!-- Body Start -->
<body>

    <!-- Loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- / -->
    <!-- Header -->
    <header>
        <nav class="navbar header-nav fixed-top navbar-expand-lg">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="#">
                    AppWay
                </a>
                <!-- / -->
                <!-- Mobile Toggle -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- / -->
                <!-- Top Menu -->
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li><a class="nav-link" href="index.html#home">Home</a> </li>
                        <li><a class="nav-link" href="index.html#about">About</a></li>
                        <li><a class="nav-link" href="index.html#course">Course</a></li>
                        <li><a class="nav-link" href="index.html#price">Price</a></li>
                        <li><a class="nav-link" href="index.html#team">Team</a></li>
                        <li><a class="nav-link" href="index.html#blog">Blog</a></li>
                        <li><a class="nav-link" href="index.html#contatus">Contact</a></li>

                        <li>
                            <a class="nav-link" href="javascript:;">Pages</a>
                            <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li>
                                    <a href="about.html">About Us</a>
                                </li>
                                <li>
                                    <a href="price.html">Price</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ's</a>
                                </li>
                                <li>
                                    <a href="contatus.html">Contact us</a>
                                </li>
                            </ul>
                        </li>

                        <li><a class="nav-btn nav-link" href="#">Login</a></li>
                        <li><a class="nav-btn nav-link" href="#">Sign Up</a></li>
                    </ul>
                </div>
                <!-- / -->

            </div><!-- Container -->
        </nav> <!-- Navbar -->
    </header>
    <!-- Header End -->
    <!-- Main Start -->
    <main>

        <!-- Page Title -->
        <section class="section page-title-section theme-after bg-fixed bg-center-center bg-cover" style="background-image: url(static/img/1600x1000.jpg);">
            <div class="container">
                <div class="page-title text-center">
                    <h1>About AppWay</h1>
                </div>
                <ol class="breadcrumb justify-content-center">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About</li>
                </ol>
            </div>
        </section>
        <!-- / -->
        <!-- Featre -->
        <section class="section gray-bg aboutus-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="feature-box-02">
                            <label class="theme2nd-color">All in one place</label>
                            <h3 class="m-20px-b font-alt">Learn Anytime From Anywhere</h3>
                            <p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                            <p class="m-25px-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <div class="help-text theme2nd-color">1000 Members Join</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video-box md-m-30px-t">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=Uoj0DpWz7bk">
                                <img src="static/img/550x500.jpg" title="" alt="">
                                <i class="icon ti-control-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </section>
        <!-- / -->
        <!-- Counter Start -->
        <section class="p-50px-tb counter-section">
            <div class="container">
                <div class="counter-row">
                    <div class="row">
                        <div class="col-6 col-md-3 col-sm-6 m-15px-tb">
                            <div class="counter-col">
                                <div class="counter-data" data-count="800">
                                    <div class="count">800</div>
                                    <h6>Happy Clients</h6>
                                </div>
                            </div>
                        </div>
                        <!-- col -->

                        <div class="col-6 col-md-3 col-sm-6 m-15px-tb">
                            <div class="counter-col">
                                <div class="counter-data" data-count="375">
                                    <div class="count">375</div>
                                    <h6>Datacenters</h6>
                                </div>
                            </div>
                        </div>
                        <!-- col -->

                        <div class="col-6 col-md-3 col-sm-6 m-15px-tb">
                            <div class="counter-col">
                                <div class="counter-data" data-count="550">
                                    <div class="count">550</div>
                                    <h6>Developers</h6>
                                </div>
                            </div>
                        </div>
                        <!-- col -->

                        <div class="col-6 col-md-3 col-sm-6 m-15px-tb">
                            <div class="counter-col">
                                <div class="counter-data" data-count="120">
                                    <div class="count">120</div>
                                    <h6>Countries</h6>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                    </div>
                    <!-- row -->
                </div>
            </div>
            <!-- container -->
        </section>
        <!-- Counter End -->
        <!-- Featre -->
        <section class="section gray-bg">
            <div class="container">
                <div class="row justify-content-center m-45px-b md-m-25px-b">
                    <div class="col-md-10 col-lg-8">
                        <div class="section-title">
                            <label>Features</label>
                            <h2 class="theme-after-bg">Amazing Practical Features Included</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 m-15px-tb">
                        <div class="feature-box-01">
                            <div class="icon theme-g-bg">
                                <i class="ti-comments"></i>
                            </div>
                            <h4><a href="#">Great Advices</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div> <!-- col -->
                    <div class="col-12 col-md-6 col-lg-3 m-15px-tb">
                        <div class="feature-box-01">
                            <div class="icon theme-g-bg">
                                <i class="ti-crown"></i>
                            </div>
                            <h4><a href="#">24/7 Support</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div> <!-- col -->
                    <div class="col-12 col-md-6 col-lg-3 m-15px-tb">
                        <div class="feature-box-01">

                            <div class="icon theme-g-bg">
                                <i class="ti-heart"></i>
                            </div>
                            <h4><a href="#">Optimal Choice</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div> <!-- col -->
                    <div class="col-12 col-md-6 col-lg-3 m-15px-tb">
                        <div class="feature-box-01">
                            <div class="icon theme-g-bg">
                                <i class="ti-cup"></i>
                            </div>
                            <h4><a href="#">Clear Navigation</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div> <!-- col -->
                </div> <!-- row -->
            </div>
        </section>
        <!-- / -->
        <!-- Our Team -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center m-45px-b md-m-25px-b">
                    <div class="col-md-10 col-lg-8">
                        <div class="section-title">
                            <label>Our Team</label>
                            <h2 class="theme-after-bg">Leadership team</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div> <!-- row -->

                <div class="row">
                    <div class="col-md-6 col-lg-3 m-15px-tb">
                        <div class="our-team">
                            <div class="img" style="background-image: url(static/img/550x500.jpg);">
                            </div>
                            <div class="info">
                                <h6>Ben Alomar</h6>
                                <label>Chief Executive Officer</label>
                            </div>
                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- col -->

                    <div class="col-md-6 col-lg-3 m-15px-tb">
                        <div class="our-team">
                            <div class="img" style="background-image: url(static/img/550x500.jpg);">
                            </div>
                            <div class="info">
                                <h6>Ben Alomar</h6>
                                <label>Chief Executive Officer</label>
                            </div>
                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- col -->

                    <div class="col-md-6 col-lg-3 m-15px-tb">
                        <div class="our-team">
                            <div class="img" style="background-image: url(static/img/550x500.jpg);">
                            </div>
                            <div class="info">
                                <h6>Ben Alomar</h6>
                                <label>Chief Executive Officer</label>
                            </div>
                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- col -->

                    <div class="col-md-6 col-lg-3 m-15px-tb">
                        <div class="our-team">
                            <div class="img" style="background-image: url(static/img/550x500.jpg);">
                            </div>
                            <div class="info">
                                <h6>Ben Alomar</h6>
                                <label>Chief Executive Officer</label>
                            </div>
                            <ul class="social-icons">
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- col -->

                </div> <!-- row -->
            </div> <!-- container -->
        </section>
        <!-- / -->
        <!-- Testimonial -->
        <section class="section testimonial-section gray-bg">
            <div class="container">
                <div class="row justify-content-center m-60px-b md-m-40px-b">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="section-title text-center">
                            <label>Testimonial</label>
                            <h2 class="theme-after-bg">What People Say?</h2>
                            <div class="title-border"><span class="lg"></span><span class="md"></span><span class="sm"></span></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div id="client-slider-single" class="owl-carousel">
                            <div class="testimonial-col">
                                <i class="ti-quote-left"></i>
                                <div class="say">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                                <div class="user">
                                    <div class="img">
                                        <img src="static/img/100x100.jpg" alt="" title="">
                                    </div>
                                    <div class="name">
                                        <span>Jennifer Lutheran</span>
                                        <label>CEO at AppWay</label>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial-col">
                                <i class="ti-quote-left"></i>
                                <div class="say">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                                <div class="user">
                                    <div class="img">
                                        <img src="static/img/100x100.jpg" alt="" title="">
                                    </div>
                                    <div class="name">
                                        <span>Salma Hayek</span>
                                        <label>CEO at AppWay</label>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial-col">
                                <i class="ti-quote-left"></i>
                                <div class="say">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                                <div class="user">
                                    <div class="img">
                                        <img src="static/img/100x100.jpg" alt="" title="">
                                    </div>
                                    <div class="name">
                                        <span>Martin Lutheran</span>
                                        <label>CEO at AppWay</label>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial-col">
                                <i class="ti-quote-left"></i>
                                <div class="say">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                                <div class="user">
                                    <div class="img">
                                        <img src="static/img/100x100.jpg" alt="" title="">
                                    </div>
                                    <div class="name">
                                        <span>Brad Pitt</span>
                                        <label>CEO at AppWay</label>
                                    </div>
                                </div>
                            </div>

                            <div class="testimonial-col">
                                <i class="ti-quote-left"></i>
                                <div class="say">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                </div>
                                <div class="user">
                                    <div class="img">
                                        <img src="static/img/100x100.jpg" alt="" title="">
                                    </div>
                                    <div class="name">
                                        <span>Jennifer</span>
                                        <label>CEO at AppWay</label>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- owl -->
                    </div> <!-- col -->
                </div> <!-- row -->

            </div> <!-- container -->
        </section>
        <!--  / -->

    </main>
    <!-- Main End -->
    <!-- Footer Start -->
    <footer class="footer theme-g-bg">
        <div class="bg-effect"></div>
        <section class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5 sm-m-15px-tb md-m-30px-b">
                        <h4 class="font-alt">About Us</h4>
                        <p class="footer-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation
                        </p>
                        <ul class="social-icons">
                            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div> <!-- col -->

                    <div class="col-6 col-md-4 col-lg-2 sm-m-15px-tb">
                        <h4 class="font-alt">Product</h4>

                        <ul class="fot-link">
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Carrers</a></li>
                            <li><a href="#">Awards</a></li>
                            <li><a href="#">Users Program</a></li>
                            <li><a href="#">Locations</a></li>
                        </ul>
                    </div> <!-- col -->

                    <div class="col-6 col-md-4 col-lg-2 sm-m-15px-tb">
                        <h4 class="font-alt">Company</h4>
                        <ul class="fot-link">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-lg-3 sm-m-15px-tb">
                        <h4 class="font-alt">Get in touch</h4>
                        <p>12345 Little Lonsdale St, Melbourne</p>
                        <p><span>E-Mail:</span> info@example.com </p>
                        <p><span>Phone:</span> (123) 123-456</p>
                    </div> <!-- col -->

                </div>

                <div class="footer-copy">
                    <div class="row">
                        <div class="col-12">
                            <p>All © Copyright by . All Rights Reserved.</p>
                        </div><!-- col -->
                    </div> <!-- row -->
                </div> <!-- footer-copy -->

            </div> <!-- container -->
        </section>
    </footer>
    <!-- / -->
    <!-- jQuery -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- Plugins -->
    <script src="static/plugin/bootstrap/js/popper.min.js"></script>
    <script src="static/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/plugin/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="static/plugin/magnific/jquery.magnific-popup.min.js"></script>

    <!-- custom -->
    <script src="static/js/custom.js"></script>
</body>
<!-- Body End -->

</html>