################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CuriousDriveSolution/v15/Server/sqlite3
/.vs/CuriousDriveSolution/v16
