@model CuriousDriveWebClient.ForgotPasswordConfirmationViewModel

@{
    ViewBag.Title = "Forgot Password Confirmation - Curious Drive";
}
<div class="col-md-2 hidden-xs hidden-sm"></div>
<div class="col-md-8 col-xs-12">
    @using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <form name="loginForm" class="form-horizontal" role="form" novalidate>
            @Html.AntiForgeryToken()

            <div class="col-md-12 col-xs-12">
                <br />
            </div>

            <div class="col-md-12 hidden-sm hidden-xs card">
                <div class="col-md-12">
                    <h2><b>Curious Drive</b></h2>
                    <h4>
                        Awesome, we have sent you an email to verify your email address. Please check your email to reset password.
                    </h4>
                </div>
            </div>

        </form>
    }
</div>

<div class="col-md-2 hidden-xs hidden-sm"></div>
