<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="font-family:Calibri; font-size:large">

    <p>
        Hi %1$s!
        <br />
        <br />
        Thank you for registering with Curious Drive. Please enter below one time password on the link mentioned below.
        <br />
        <br />
        OTP : <b>%2$s</b>
        <br /><br />
        <a href="http://localhost/curiousdrivewebclient/account/verifyOTP/%3$s">http://localhost/curiousdrivewebclient/account/verifyOTP/%3$s</a>
        <br /><br />
        You can contact us at <a href="mailto:sales@CuriousDriveWebAPI.CuriousDrive.com">sales@CuriousDriveWebAPI.CuriousDrive.com</a>. We are always here to help.
        <br /><br />

        Thanks,
        Team Curious Drive
        <br />
    </p>

</body>
</html>