@model CuriousDriveWebClient.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password - Curious Drive";
}
<div class="col-md-2 hidden-xs hidden-sm"></div>
<div class="col-md-8 col-xs-12">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
    <form name="loginForm" class="form-horizontal" role="form" novalidate>
        @Html.AntiForgeryToken()
        
        <div class="col-md-12 col-xs-12">
            <br />
        </div>

        <div class="col-md-12 card">
            
            @if (Model.userId > 1)
            {
                <div class="col-md-12">
                    <h1><b>Curious Drive</b></h1>
                    <h4> Please follow below guidelines to reset password for your account </h4>
                    <h5>- Must be at least 8 characters long</h5>
                    <h5>- Must contain some letters</h5>
                    <h5>- Must contain at least one number</h5>
                    <h5>- Cannot be the same as your email address</h5>
                    <hr />
                </div>

                <div class="col-md-12">

                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.password, new { placeholder = "password", @class = "form-control" })
                    </div>

                    <div class="col-md-12">
                        <br />
                    </div>

                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.retypePassword, new { placeholder = "re-type password", @class = "form-control" })
                    </div>

                    <div class="col-md-12">
                        <br />
                    </div>

                    <div class="col-md-10">
                        <button id="verifyAccount" class="btn btn-primary" type="submit" name="submitType" value="submit">Set New Password</button>
                    </div>

                    <div class="col-md-12">
                        <br />
                    </div>
                </div>
            }
        </div>

        <div class="col-md-12 col-xs-12">
            <br />
        </div>

    </form>
    }
</div>

<div class="col-md-2 hidden-xs hidden-sm"></div>