/*.buttons { border-bottom:1px solid black; zoom: 0.70; }*/
.left { border-top:41px solid black;  border-bottom:1px solid black;}
.src { border-left:1px solid black; border-right:1px solid black;}
.trg { border-left:1px solid black;}
.stat { border-right:4px solid black;}
.messages { border-top:1px solid black;  }
.tree { border-right:1px solid black;border-top:1px solid black;border-bottom:1px solid black;}
.path { border-left:1px solid black;border-top:1px solid black;border-bottom:1px solid black;}
.navglue { border-top:1px solid black;border-bottom:1px solid black;}