<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--
    ========================================================================
    EXCLUSIVE ON themeforest.net
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Template Name   : Curious Drive
    ========================================================================
    -->
    <!-- Page Title -->
    <title>Curious Drive</title>
    <!-- / -->
    <!---Font Icon-->
    <link href="~/static/plugin/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="~/static/plugin/themify-icons/themify-icons.css" rel="stylesheet">
    <!-- / -->
    <!-- Plugin CSS -->
    <link href="~/static/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/static/plugin/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/static/plugin/magnific/magnific-popup.css" rel="stylesheet">

    <!-- / -->
    <!-- Theme Style -->
    <link href="~/static/css/styles.css" rel="stylesheet">
    <link href="~/static/css/color/default.css" rel="stylesheet" id="color_theme">
    <!-- / -->
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" />
    <!-- / -->
</head>

<!-- Body Start -->
<body data-spy="scroll" data-target="#navbar" data-offset="98">

    <!-- Loading -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- / -->
    <!-- Header -->
    <header>
        <nav class="navbar header-nav fixed-top navbar-expand-lg header-nav-light">
            <div class="container">
                <!-- Brand -->
                <img src="~/static/img/logo.png" height="30px" width="30px" /> &nbsp;

                <a class="navbar-brand" href="#">
                    Curious Drive
                </a>
                <!-- / -->
                <!-- Mobile Toggle -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <!-- / -->
                <!-- Top Menu -->
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li><a class="nav-link active" href="#home">Home</a> </li>
                        <li><a class="nav-link" href="#about">About</a></li>
                        <li><a class="nav-link" href="#features">Features</a></li>
                        <li><a class="nav-link" href="#price">Price</a></li>
                        <li><a class="nav-link" href="#contatus">Contact</a></li>
                        <li>
                            <a class="nav-link" href="javascript:;">More</a>
                            <span class="sub-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-angle-down"></i></span>
                            <ul class="sub-menu">
                                <li>
                                    <a href="about.html">About Us</a>
                                </li>
                                <li>
                                    <a href="price.html">Price</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ's</a>
                                </li>
                                <li>
                                    <a href="contatus.html">Contact us</a>
                                </li>
                            </ul>
                        </li>
                        <!--<li><a class="nav-btn nav-link" href="#">Login</a></li>
                        <li><a class="nav-btn nav-link" href="#">Sign Up</a></li>-->
                    </ul>
                </div>
                <!-- / -->

            </div><!-- Container -->
        </nav> <!-- Navbar -->
    </header>
    <!-- Header End -->
    <!-- Main Start -->
    <main>

        <!-- Home Banner Start -->
        <section id="home" class="home-banner-01 gray-bg-g border-bottom">
            <div class="container">
                <div class="row full-screen align-items-center">
                    <div class="col col-md-12 col-lg-6 col-xl-6 p-80px-tb md-p-30px-b sm-p-60px-t m-50px-t">
                        <div class="home-text-center p-50px-r md-p-0px-r">
                            <h1 class="font-alt">An innovative platform for next generation</h1>
                            <p>A way to address concerns and issues that students are having on a large scale through closed channel communication.</p>
                            <div class="subscribe-box">
                                <input id="txtBookDemo" placeholder="Enter Email Id" class="form-control" type="email" name="demo" required="">
                                <button class="m-btn m-btn-theme2nd" onclick="btnBookDemoClick()">Book Demo</button>
                                <div class="col-md-12">
                                    <div id="divBookDemoMessage" style="display:none">
                                        <br />
                                        <p>Our sales team will get back to you as soon as possible to schedule a demo for you. Thanks!</p>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- home-text-center -->
                    </div> <div class="col-md-12 col-lg-6 col-xl-6 home-right m-50px-t md-m-0px-t">
                        <div class="home-right-inner">
                            <img src="~/static/img/zone-3.svg" title="" alt="">
                        </div>
                    </div><!-- col -->
                </div>
            </div><!-- container -->
        </section>
        <!-- / -->
        <!-- Featre -->
        <section id="about" class="section border-bottom">
            <div class="container">
                <div class="row justify-content-center m-45px-b md-m-25px-b">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="section-title">
                            <h2 class="theme-after-bg">Why Choose Us</h2>
                            <p>We are team of motivated individuals, who are passionate about making products for future generation.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 m-15px-tb">
                        <div class="feature-box-01">
                            <div class="icon">
                                <i class="ti-comments"></i>
                            </div>
                            <h4><a href="#">Great Advices</a></h4>
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
                        </div>
                    </div> <!-- col -->
                    <div class="col-12 col-md-6 col-lg-3 m-15px-tb">
                        <div class="feature-box-01">
                            <div class="icon">
                                <i class="ti-crown"></i>
                            </div>
                            <h4><a href="#">24/7 Support</a></h4>
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
                        </div>
                    </div> <!-- col -->
                    <div class="col-12 col-md-6 col-lg-3 m-15px-tb">
                        <div class="feature-box-01">

                            <div class="icon">
                                <i class="ti-heart"></i>
                            </div>
                            <h4><a href="#">Optimal Choice</a></h4>
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
                        </div>
                    </div> <!-- col -->
                    <div class="col-12 col-md-6 col-lg-3 m-15px-tb">
                        <div class="feature-box-01">
                            <div class="icon">
                                <i class="ti-cup"></i>
                            </div>
                            <h4><a href="#">Clear Navigation</a></h4>
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>-->
                        </div>
                    </div> <!-- col -->
                </div>

            </div> <!-- container -->
        </section>
        <!-- / -->
        <!-- Featre  -->
        <section class="section border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="feature-box-02">
                            <h3 class="m-20px-b font-alt">Learn Anytime From Anywhere</h3>
                            <p class="large">Students can ask questions, teachers can make announcements, everybody can share their projects and much more...</p>
                            <p>
                                We have created a platform for students to share their queries and thoughts with other students in the school. Our tool can also be used by teachers to solve queries and make announcements to their classes, configurable user groups or all.
                                Through Curious Drive students and teachers can share their project ideas and it's execution with the school.
                            </p>
                            <div class="m-30px-t">
                                <a class="m-btn m-btn-theme2nd" href="#">Learn More</a>
                            </div>
                        </div>
                    </div> <!-- col -->
                    <div class="col-md-6 sm-m-30px-t">
                        <img src="~/static/img/zone-4.svg" title="" alt="">
                    </div>
                </div><!-- row -->
            </div>
        </section>
        <!-- / -->
        <!-- Tab Box -->
        <section id="features" class="section border-bottom">
            <div class="container">
                <div class="row justify-content-center m-45px-b md-m-25px-b">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="section-title">
                            <h2 class="theme-after-bg">Discover The Incredible Features </h2>
                            <p>We learn from our clients and we will always do. We have come up with the best features which will help the future generation to build the better future.</p>
                        </div>
                    </div>
                </div>

                <div class="tab-style-1">
                    <ul class="nav nav-fill" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Feature</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Integration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-more-tab" data-toggle="pill" href="#pills-more" role="tab" aria-controls="pills-more" aria-selected="false">And More</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="feature-box-02">
                                        <h3 class="m-15px-b font-alt">Platform for Out of Box Thinkers</h3>
                                        <p class="large">Some of the main features..</p>
                                        <ul class="fb4-list-type m-30px-b m-20px-t p-0px">
                                            <li>
                                                Ask and share questions
                                            </li>
                                            <li>
                                                Make announcements for students/parents
                                            </li>
                                            <li>
                                                Create and publish projects
                                            </li>
                                            <li>
                                                Access it through your phone/tablet.
                                            </li>
                                            <li>
                                                And much more..
                                            </li>
                                        </ul>
                                        <!--<div class="help-text theme2nd-color m-15px-t">1000 Business Users</div>-->
                                    </div>
                                </div> <!-- col -->
                                <div class="col-md-6 sm-m-30px-t">
                                    <img src="~/static/img/zone-5.svg" title="" alt="">
                                </div>
                            </div>
                        </div> <!-- tab content -->

                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="feature-box-02">
                                        <h3 class="m-15px-b font-alt">Easy Peasy</h3>
                                        <p>Curious Drive has been designed to get integrated in your current system or it can be easily configured as a new system for your school</p>
                                        <ul class="fb4-list-type m-30px-b m-20px-t p-0px">
                                            <li>
                                                Enroll your school
                                            </li>
                                            <li>
                                                Register admins/teachers/moderators/students/parents
                                            </li>
                                            <li>
                                                Ask questions, make announcements, publish projects..
                                            </li>
                                            <li>
                                                You are good to go
                                            </li>
                                        </ul>
                                        <a class="m-btn m-btn-theme2nd" href="#">Learn More</a>
                                    </div>
                                </div> <!-- col -->
                                <div class="col-md-6 sm-m-30px-t">
                                    <img src="~/static/img/zone-7.svg" title="" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-more" role="tabpanel" aria-labelledby="pills-more-tab">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="feature-box-02">
                                        <h3 class="m-15px-b font-alt">We are not done yet</h3>
                                        <p>We do not want to create just a platform, we want to create a full experience.</p>
                                        <ul class="fb4-list-type m-30px-b m-20px-t p-0px">
                                            <li>
                                                Email and App Notifications
                                            </li>
                                            <li>
                                                Students and Teachers Directory
                                            </li>
                                            <li>
                                                Create User Groups
                                            </li>
                                            <li>
                                                And much more...
                                            </li>
                                        </ul>
                                        <a class="m-btn m-btn-theme2nd" href="#">Learn More</a>
                                    </div>
                                </div> <!-- col -->
                                <div class="col-md-6 sm-m-30px-t">
                                    <img src="~/static/img/zone-9.svg" title="" alt="">
                                </div>
                            </div>
                        </div> <!-- tab content -->
                    </div>
                </div> <!-- Tab style -->
            </div> <!-- container -->
        </section>
        <!-- / -->
        <!-- Price Table -->
        <section id="price" class="section border-bottom">
            <div class="container">
                <div class="row justify-content-center m-60px-b md-m-40px-b">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="section-title">
                            <h2 class="theme-after-bg">Our Packages</h2>
                            <p>Our development team works hard and still working hard to make an efficient product so that we can give our schools the best prices in the market.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 m-15px-tb">
                        <div class="price-table-01">
                            <div class="pt-head">
                                <div class="pt-name">
                                    <label class="theme-g-bg">Pro</label>
                                </div>
                                <h4><span>$</span>0.99</h4>
                                <p>active users per month</p>
                            </div>
                            <div class="pt-body">
                                <ul>
                                    <li>1000 - 2000 Users</li>
                                    <!--<li>2 Assignment</li>
                                    <li class="pt-no">Unlimited Course Assesment</li>
                                    <li class="pt-no">Mobile App Access</li>
                                    <li class="pt-no">Download Course PDF</li>-->
                                </ul>
                                <div class="pt-action">
                                    <a href="#" class="m-btn m-btn-theme2nd">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 m-15px-tb sm-m-30px-tb">
                        <div class="price-table-01">
                            <div class="pt-head ">
                                <div class="pt-name">
                                    <label class="theme-g-bg">Standard</label>
                                </div>
                                <h4><span>$</span>1.49</h4>
                                <p>Active Users per Month</p>
                            </div>
                            <div class="pt-body">
                                <ul>
                                    <li>1000 - 500 Users</li>
                                    <!--<li>2 Assignment</li>
                                    <li>Unlimited Course Assesment</li>
                                    <li class="pt-no">Mobile App Access</li>
                                    <li class="pt-no">Download Course PDF</li>-->
                                </ul>
                                <div class="pt-action">
                                    <a href="#" class="m-btn m-btn-theme2nd">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 m-15px-tb">
                        <div class="price-table-01">
                            <div class="pt-head">
                                <div class="pt-name">
                                    <label class="theme-g-bg">Basic</label>
                                </div>
                                <h4><span>$</span>1.99</h4>
                                <p>Active Users per Month</p>
                            </div>
                            <div class="pt-body">
                                <ul>
                                    <li>< 500 Users</li>
                                    <!--<li>2 Assignment</li>
                                    <li>Unlimited Course Assesment</li>
                                    <li>Mobile App Access</li>
                                    <li>Download Course PDF</li>-->
                                </ul>
                                <div class="pt-action">
                                    <a href="#" class="m-btn m-btn-theme2nd">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </section>
        <!-- / -->
        <!-- Testimonial -->
        <!--  / -->
        <!-- Our Blog -->
        <!-- / -->
        <!-- Contact uss -->
        <section id="contatus" class="section border-bottom">
            <div class="container">
                <div class="row justify-content-center m-45px-b md-m-25px-b">
                    <div class="col-md-10 col-lg-8">
                        <div class="section-title">
                            <h2 class="theme-after-bg">Quick Contact Now</h2>
                            <p>You want to know more about us? Please enter your information and comments below and our sales team will get back to you as soon as possible.</p>
                        </div>
                    </div> <!-- col -->
                </div> <!-- row -->

                <div class="row">
                    <div class="col-md-6 col-lg-4 m-15px-tb">
                        <div class="contact-info-box">
                            <h2>contact information</h2>
                            <div class="contact-info">
                                <i class="icon ti-direction"></i>
                                <p>ADDRESS: 609 Maplewood Dr,<br> Columbia, MO - 65203.</p>
                            </div>
                            <div class="contact-info">
                                <i class="icon ti-email"></i>
                                <p>EMAIL: sales@curiousdrive.com</p>
                            </div>
                            <div class="contact-info">
                                <i class="icon ti-mobile"></i>
                                <p>PHONE: +1 785-969-9492</p>
                            </div>
                            <div class="contact-info">
                                <i class="icon ti-pin-alt"></i>
                                <p>WEBSITE: www.curiousdrive.com</p>
                            </div>
                            <div class="follow-us">
                                <label>Follow Us</label>
                                <ul class="social-icons">
                                    <li><a class="facebook" href="https://www.facebook.com/curiousdrive/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="twitter" href="https://twitter.com/curious_drive"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="google" href="https://plus.google.com/u/0/111955727323743345182"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="linkedin" href="https://www.linkedin.com/company/curious-drive/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- col -->
                    <div class="col-md-6 col-lg-8 m-15px-tb">
                        <div class="contact-form m-50px-l md-m-0px-l">
                            <h2>Drop us A Message</h2>
                            <form class="contactform" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="txtName" name="name" type="text" placeholder="Name" class="validate form-control" required="">
                                            <span class="input-focus-effect"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="txtEmailAddress" type="email" placeholder="Email" name="email" class="validate form-control" required="">
                                            <span class="input-focus-effect"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="txtSubject" type="text" placeholder="Subject" name="text" class="validate form-control" required="">
                                            <span class="input-focus-effect"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="txtTelNumber" type="tel" placeholder="Phone" name="text" class="validate form-control" required="">
                                            <span class="input-focus-effect"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="txtComments" placeholder="Your Comment" name="message" class="form-control" required=""></textarea>
                                            <span class="input-focus-effect"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="send">
                                            <input id="btnContactUs" class="m-btn m-btn-theme2nd" type="button" name="send" value="Send" onclick="btnContactUsClick()" />
                                            <span class="input-focus-effect"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div id="divContactUsMessage" style="display:none">
                                            <br />
                                            <p>Thanks a lot for showing interest in Curious Drive. We have received your information. Our sales team will get back to you as soon as possible. Thanks!!!</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- col -->
                </div> <!-- row -->
            </div> <!-- Container -->
        </section>
        <!-- / -->

    </main>
    <!-- Main End -->
    <!-- Footer Start -->
    <footer class="footer-light">
        <section class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5 sm-m-15px-tb md-m-30px-b">
                        <h4 class="font-alt">About Us</h4>
                        <p class="footer-text">We are a software company, which builds tools for K-12. We provide a closed communication channel between teachers and students.</p>
                        <ul class="social-icons">
                            <li><a class="facebook" href="https://www.facebook.com/curiousdrive/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="twitter" href="https://twitter.com/curious_drive"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="google" href="https://plus.google.com/u/0/111955727323743345182"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a class="linkedin" href="https://www.linkedin.com/company/curious-drive/"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div> <!-- col -->

                    <div class="col-6 col-md-4 col-lg-2 sm-m-15px-tb">
                        <h4 class="font-alt">Product</h4>

                        <ul class="fot-link">
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Awards</a></li>
                            <li><a href="#">Users Program</a></li>
                            <li><a href="#">Locations</a></li>
                        </ul>
                    </div> <!-- col -->

                    <div class="col-6 col-md-4 col-lg-2 sm-m-15px-tb">
                        <h4 class="font-alt">Company</h4>
                        <ul class="fot-link">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-lg-3 sm-m-15px-tb">
                        <h4 class="font-alt">Get in touch</h4>
                        <p>609 Maplewood Dr. Columbia, MO - 65203</p>
                        <p><span>E-Mail:</span> sales@curiousdrive.com </p>
                        <p><span>Phone:</span> (785) 969-9492</p>
                    </div> <!-- col -->

                </div>

                <div class="footer-copy">
                    <div class="row">
                        <div class="col-12">
                            <p>All © Copyright by Curious Drive. All Rights Reserved.</p>
                        </div><!-- col -->
                    </div> <!-- row -->
                </div> <!-- footer-copy -->

            </div> <!-- container -->
        </section>
    </footer>
    <!-- / -->
    <!-- jQuery -->
    <script src="~/static/js/jquery-3.2.1.min.js"></script>
    <script src="~/static/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- Plugins -->
    <script src="~/static/plugin/bootstrap/js/popper.min.js"></script>
    <script src="~/static/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/static/plugin/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="~/static/plugin/magnific/jquery.magnific-popup.min.js"></script>

    <!-- custom -->
    <script src="~/static/js/custom.js"></script>
</body>
<!-- Body End -->

</html>

<script type="text/javascript">


    function btnBookDemoClick() {

        var txtBookDemo = document.getElementById('txtBookDemo');

        $.ajax({
            url: '@Url.Action("SendBookADemoEmail", "Home")',
            data: "{ 'astrEmailAddress': '" + txtBookDemo.value + "'}",
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {},
            error: function (response) {
                //alert(response.responseText);
            },
            failure: function (response) {
                //alert(response.responseText);
            }
        });

        var divBookDemoMessage = document.getElementById("divBookDemoMessage");
        divBookDemoMessage.style.display = "block";
    }

    function btnContactUsClick() {

        var txtName = document.getElementById('txtName');
        var txtEmailAddress = document.getElementById('txtEmailAddress');
        var txtSubject = document.getElementById('txtSubject');
        var txtTelNumber = document.getElementById('txtTelNumber');
        var txtComments = document.getElementById('txtComments');

        $.ajax({
            url: '@Url.Action("SendContactUsEmail", "Home")',
            data: "{ 'astrName': '" + txtName.value + "', 'astrEmailAddress': '" + txtEmailAddress.value + "','astrSubject': '" + txtSubject.value + "','astrTelNumber': '" + txtTelNumber.value + "','astrComments': '" + txtComments.value + "'}",
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {},
            error: function (response) {
                //alert(response.responseText);
            },
            failure: function (response) {
                //alert(response.responseText);
            }
        });


        var divContactUsMessage = document.getElementById("divContactUsMessage");
        divContactUsMessage.style.display = "block";
    }
</script>