
 table {WIDTH: 380px; TABLE-LAYOUT: fixed; margin:0 auto;}

 center {width: auto !important;}
  .sqlKeyword { font-family:Courier New, sans-serif; 	color: blue; } 
  .sqlBody { font-family:Courier New, sans-serif; font-size: 12px;	color: blue; } 
  .line {font-family:  Courier New, sans-serif; font-size: 12px;width: 25px; expando:false;margin:0cm;padding-left:5px;	color: darkblue;font-weight: bold; zoom: 1.00;background-Color:#ECECEC;
border-right-style:solid; border-right-color: silver; border-right-width: 1;
}   
.uls {font-family:  Courier New, sans-serif; font-size: 12px;width: 25px; expando:false;margin:0cm;padding-left:2px;	color: darkblue;font-weight: bold; zoom: 1.00;background-Color:#ECECEC;
border-right-style:solid; border-right-color: silver; border-right-width: 1;
} 
  /*.bookmark {font-family:  Times, sans-serif; font-size: 10px;width: 16px; expando:false;margin:0cm;padding:0cm;	color: darkblue;font-weight: normal; zoom: 1.00;background-Color:#ECECEC;
}*/ 
  .bookmark11 {font-family:  Times, sans-serif; font-size: 10px;width: 35px;expando:false;background-Color: lightsalmon;	color: black;font-weight: normal; } 
  .commt {font-size: 12px;	color: green; } 
  .errMessage  {  font-weight: bold !important; font-size: 12px !important;	color: indianred !important; } 
  .Keyword {  font-size: 10px; font-weight: normal;	color: darkblue;padding: 0px 0px 0px 0px; } 
  .bigKeyword { font-family:  Times,New Roman, sans-serif; font-size: 10px; font-weight: normal;	color: darkblue; padding:0.01em;} 
 .err { font-family:  Times,New Roman, sans-serif;	font-size: 10px; font-weight: normal;	color: red;	} 
.sysfunc { font-family:  Times,New Roman, sans-serif; font-size: 10px;	font-weight: normal;	color: pink;	} 
.generic{ font-family:  Times,New Roman, sans-serif;	font-size: 10px;font-weight: normal;	color: black;background-Color: white;}

.local{ 	  color: black; cursor: hand; } 
.literal{ font-family:  Courier New, sans-serif;	font-size: 12px;  color: cadetblue;  } 
.delimiter{ font-family:  Courier New, sans-serif;	font-size: 12px;  color: coral;  } 

.dbo{	font-family:  Times,New Roman, sans-serif;	font-size: 10px; font-style: italic;	font-weight: normal; color: blue; cursor: hand;	} 
.ref{	font-family:  Times,New Roman, sans-serif; font-size: 10px; font-style: italic; color: black; cursor: hand;   text-decoration: underline;	} 
.redref{ font-family:  Times,New Roman, sans-serif; font-size: 10px; font-style: italic; 	color: red;    	font-weight: normal; cursor: hand; text-decoration: underline; } 

.convErr{  background-Color: lightgrey;	overflow:visible;line-height :16px;color:indianred;width:2000px;} 
.notConvSpan{  background-Color: lightgrey;} 
.unselectedDiv0{ } 
.unselectedDiv1{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv2{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv3{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;}  
.unselectedDiv4{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv5{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;}  
.unselectedDiv6{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv7{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;}  
.unselectedDiv8{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv9{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv10{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv12{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv12{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;}  
.unselectedDiv13{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv14{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv15{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv16{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv17{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 
.unselectedDiv18{font-weight: normal; line-height :16px;color:blue;   margin:0cm;padding:0cm;overflow:visible;width:2000px;} 

.selectedDiv{	font-weight:bold; border-left-style:solid; border-left-color: brown; border-left-width: 0;	
background-Color: khaki;	margin:0cm;padding:0cm;overflow:visible;line-height :16px;font-size: 12px;color:red;width:2000px;} 
.selectedSpan{	font-weight:bold; 	background-Color: khaki;} 
.inclErr{	border-style:solid; border-color: blue; border-width: 2;	background-Color: lightyellow; } 
.genericTable {	font-family:  Times,New Roman, sans-serif;	font-size: 10px;	color: black; border-style:solid; border-color: black; border-width: 1px; } 
td {padding:0; border:1px black solid; font-family:  Times, sans-serif; font-size: 12px;font-weight: normal;line-height :30px;background-Color: azure;line-height :16px;}
table {border-collapse:collapse;position:relative;top:0px;}
th { border:1px black solid; font-family:  Times, sans-serif; font-size: 12px;color: black; font-weight: normal; background-Color: khaki;} 
caption {font-family:  Times, sans-serif; font-size: 13px;font-weight: normal;line-height :40px;}
.sqlBody {background:#fff;margin:0;}
a {color:#0000ff;}
a:visited {color:#0000ff;}
.line, .idbookmark {display:inline-block;text-align:right;width:49px;padding:0 6px 0 0; background-Color: #ECECEC;border-right-style: solid;
border-right-color: silver;
border-right-width: 1;}
.pl {padding-left:20px;display:inline-block;}
.pl2 {padding-left:40px;display:inline-block;}
.pl3 {padding-left:60px;display:inline-block;}
.pl4 {padding-left:80px;display:inline-block;}
.pl5 {padding-left:100px;display:inline-block;}
.pl6 {padding-left:120px;display:inline-block;}
.pl7 {padding-left:140px;display:inline-block;}
.pl8 {padding-left:160px;display:inline-block;}
/*.line .bookmark {width:16px;height:16px; overflow:hidden;background-image: url("img/empty.gif");}*/
.idbookmark .bookmark,.line .bookmark {width:16px;height:16px;border:0 !important;font-size:0;line-height:0;margin:0;padding:0;}
.errMessage .commt {  font-weight: bold; font-size: 12px;	color: indianred; }
.errMessage .local{  font-weight: bold; font-size: 12px;	color: indianred; }
.errMessage .literal{  font-weight: bold; font-size: 12px;	color: indianred; }
.errMessage .delimiter{  font-weight: bold; font-size: 12px;	color: indianred; }
.errMessage .unselectedDiv0{  font-weight: bold; font-size: 12px;	color: indianred; }
.errMessage .unselectedDiv1{  font-weight: bold; font-size: 12px;	color: indianred; }
.errMessage .unselectedDiv2{  font-weight: bold; font-size: 12px;	color: indianred; }
.errMessage .unselectedDiv3{  font-weight: bold; font-size: 12px;	color: indianred; }  
.errMessage .unselectedDiv4{  font-weight: bold; font-size: 12px;	color: indianred; }  
.errMessage .unselectedDiv5{  font-weight: bold; font-size: 12px;	color: indianred; }  
.errMessage .unselectedDiv6{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv7{  font-weight: bold; font-size: 12px;	color: indianred; }  
.errMessage .unselectedDiv8{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv9{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv10{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv12{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv12{  font-weight: bold; font-size: 12px;	color: indianred; }  
.errMessage .unselectedDiv13{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv14{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv15{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv16{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv17{  font-weight: bold; font-size: 12px;	color: indianred; } 
.errMessage .unselectedDiv18{  font-weight: bold; font-size: 12px;	color: indianred; } 
