@{
    ViewBag.Title = "Users - Curious Drive";
}

@using (Html.BeginForm("Users", "UserProfile", FormMethod.Post, new { @class = "form-horizontal row card", role = "form" }))
{
    @Html.AntiForgeryToken()

    <form name="UsersForm" class="form-horizontal" role="form" novalidate>

        <div class="col-lg-12 col-12">
            <br />
        </div>

        <div class="col-lg-12 col-12">
            <p class="bold-largest">Community Members</p>
            <p>
                You can look up for your community members here.
            </p>
            <hr />
        </div>

        <div class="col-lg-4">
            <br />
            <div class="col-lg-12">
                <input id="txtSearchAll" type="text" class="form-control" placeholder="search" />
            </div>
        </div>
        <div id="divAll">
        </div>

        <div class="col-lg-12 col-12">
            <br />
        </div>
    </form>

}
<script type="text/javascript">

    $(document).ready(function () {
        displayUsersList("");
    });

    $(function () {
        var contentAll = $('#txtSearchAll').val();

        $('#txtSearchAll').keyup(function () {
            if ($('#txtSearchAll').val() != contentAll) {
                contentAll = $('#txtSearchAll').val();
                displayUsersList(contentAll);
            }
        });
    });

    function displayUsersList(prefix) {

        $.ajax({
            url: '@Url.Action("DisplayUsersList", "UserProfile", new { prefix = "prefix" })',
            data: { prefix },
            type: "post",
            dataType: "html",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ prefix: prefix }), //add parameter
            success: function (data) {
                //success
                $('#divAll').html(data); //populate the result
            },
            error: function () {
                alert("error");
            }
        });
    }

</script>