    /*
    Flaticon icon font: Flaticon
    Creation date: 27/07/2016 08:06
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-apron:before { content: "\f100"; }
.flaticon-bin:before { content: "\f101"; }
.flaticon-brush:before { content: "\f102"; }
.flaticon-bucket:before { content: "\f103"; }
.flaticon-cleaning:before { content: "\f104"; }
.flaticon-detergent:before { content: "\f105"; }
.flaticon-dish:before { content: "\f106"; }
.flaticon-dust:before { content: "\f107"; }
.flaticon-dustpan:before { content: "\f108"; }
.flaticon-garbage:before { content: "\f109"; }
.flaticon-gloves:before { content: "\f10a"; }
.flaticon-house:before { content: "\f10b"; }
.flaticon-liquid-soap:before { content: "\f10c"; }
.flaticon-mop:before { content: "\f10d"; }
.flaticon-plunger:before { content: "\f10e"; }
.flaticon-shirt:before { content: "\f10f"; }
.flaticon-soap:before { content: "\f110"; }
.flaticon-sponge:before { content: "\f111"; }
.flaticon-spray:before { content: "\f112"; }
.flaticon-sweep:before { content: "\f113"; }
.flaticon-toilet:before { content: "\f114"; }
.flaticon-toilet-paper:before { content: "\f115"; }
.flaticon-toothbrush:before { content: "\f116"; }
.flaticon-towel:before { content: "\f117"; }
.flaticon-vacuum-cleaner:before { content: "\f118"; }
.flaticon-wash:before { content: "\f119"; }
.flaticon-washing-machine:before { content: "\f11a"; }
.flaticon-water-tap:before { content: "\f11b"; }
.flaticon-window:before { content: "\f11c"; }
.flaticon-wipe:before { content: "\f11d"; }
    
    $font-Flaticon-apron: "\f100";
    $font-Flaticon-bin: "\f101";
    $font-Flaticon-brush: "\f102";
    $font-Flaticon-bucket: "\f103";
    $font-Flaticon-cleaning: "\f104";
    $font-Flaticon-detergent: "\f105";
    $font-Flaticon-dish: "\f106";
    $font-Flaticon-dust: "\f107";
    $font-Flaticon-dustpan: "\f108";
    $font-Flaticon-garbage: "\f109";
    $font-Flaticon-gloves: "\f10a";
    $font-Flaticon-house: "\f10b";
    $font-Flaticon-liquid-soap: "\f10c";
    $font-Flaticon-mop: "\f10d";
    $font-Flaticon-plunger: "\f10e";
    $font-Flaticon-shirt: "\f10f";
    $font-Flaticon-soap: "\f110";
    $font-Flaticon-sponge: "\f111";
    $font-Flaticon-spray: "\f112";
    $font-Flaticon-sweep: "\f113";
    $font-Flaticon-toilet: "\f114";
    $font-Flaticon-toilet-paper: "\f115";
    $font-Flaticon-toothbrush: "\f116";
    $font-Flaticon-towel: "\f117";
    $font-Flaticon-vacuum-cleaner: "\f118";
    $font-Flaticon-wash: "\f119";
    $font-Flaticon-washing-machine: "\f11a";
    $font-Flaticon-water-tap: "\f11b";
    $font-Flaticon-window: "\f11c";
    $font-Flaticon-wipe: "\f11d";