@media only screen and (max-width: 1300px) {

}

@media only screen and (max-width: 1199px) {
	.cs-features-area .cs-features-col .cs-features-content {
		padding: 15px 10px 20px;
	}
	.cs-features-area .cs-features-col .cs-features-content i {
		font-size: 30px;
	}
	.logo img {
		width: 160px;
		margin-top: 12px;
	}
	.main-menu .navigation > li, .header-style-two .main-menu .navigation > li {
	   margin-right: 3px;
	   padding: 0 7px;
	}
	.bounce-in-header.now-visible .logo img {
		width: 160px;
		margin-top: 15px;
	}
	.bounce-in-header.now-visible .main-menu .navigation > li, .header-style-two .main-menu .navigation > li {
	   margin-right: 3px;
	   padding: 0 7px;
	}
	.cs-team-col2 .cs-month-box {
		top: 15px;
	}
	.cs-error-inner .img-overlay {
		position: relative;
	}
}

@media only screen and (max-width: 1140px) {
	.main-header .header-lower .outer-box{
		padding-right:0px;	
	}
	
	.main-header.header-style-three .nav-outer{
		padding-left:15px;	
	}
	
	
	.main-menu .navigation > li > a{
		padding-left:10px;
		padding-right:10px;	
	}
	
	.main-header .header-upper .upper-column{
		margin-left:20px;	
	}
	
	.services-style-one .outer-container{
		padding:0px 40px;	
	}
	.header-style-three {
		position: absolute;
	}
	
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 1023px) {
	.main-menu .navigation > li,
	.header-style-two .main-menu .navigation > li{
		margin-right:5px;	
	}
	
	.main-menu .navigation > li > a,
	.header-style-two .main-menu .navigation > li > a{
		padding-left:0px;
		padding-right:0px;
		font-weight:600;
		text-transform:capitalize;	
	}
	
}

@media only screen and (max-width: 991px) {
	.cs-features-area .cs-features-col .cs-features-content p {
		display: none;
	}
	.cs-features-area .cs-features-col .cs-features-content {
    	padding: 20px 10px 20px;
	}
	.cs-blog-area .cs-blog-col .cs-blog-img-box 
	.cs-over-text .cs-over-text-left li {
		margin-right: 10px;
	}
	.cs-blog-area .cs-blog-col .cs-blog-img-box 
	.cs-over-text .cs-over-text-right li {
		margin-left: 10px;
	}
	.cs-testimonial-item p {
		margin-top: 22px;
	}
	#contact_form .form-group .btn-block {
		position: absolute;
		bottom: -320px;
		left: 0;
	}
	#contact_form {
		margin-bottom: 100px;
	}
	.cs-error-inner {
		text-align: center;
	}
	.cs-error-inner .img-overlay {
		display: none;
	}
	.cs-error-inner .cs-error-info {
		float: none;
		max-width: none;
	}

}

@media screen and (max-width: 860px) {
	.flex-direction-nav .flex-prev,
	.post-slider .flex-direction-nav .flex-prev,
	.post-slider-thumb .flex-direction-nav .flex-prev {
	    left: 0;
	    opacity: 1;
	}
	.flex-direction-nav .flex-next,
	.post-slider .flex-direction-nav .flex-next,
	.post-slider-thumb .flex-direction-nav .flex-next {
	    opacity: 1;
	    right: 0;
	}
}

@media only screen and (max-width: 768px){
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 767px) {

	.cs-text-center {
		text-align: center;
	}
	.header-style-three.bg-top{
		top: 0;
	}
	.header-style-three {
	    position: relative;
	}
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-header.header-style-three .nav-outer{
		padding-left:0px;
		border-left:15px solid transparent;
		border-right:15px solid transparent;	
	}
	
	.main-header .get-btn{
		right:auto;
		left:0px;
		z-index:14;
		height:58px;	
	}
	
	.main-header .header-top .top-right, 
	.main-header .header-top .top-left {
		width: 100%;
	}

	.header-upper .logo-outer  {
		display: block;
		width: 100%;
	}
	
	.main-header .right-menu{
		width:100%;
		margin-top:-75px;
	}
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
		height: 0;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:0px 0px;
		border:1px solid #af9a7d;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:0px;
		border:1px solid #af9a7d;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;	
	}
	
	
	.main-menu .navbar-header {
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:12px 0px;
		right: 0;
		top: -62px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		border:1px solid #af9a7d;
		float:none;
		margin:0px;
		border-radius:0px;
		background:#af9a7d;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#af9a7d;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#af9a7d;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-bottom:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#af9a7d;
		text-align: left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#af9a7d;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#af9a7d;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn:last-child{
		display:none;
	}

	.main-header.header-s3 .main-menu .navigation li.dropdown a {
		margin-bottom: 7px;
		margin-top: 0;
		padding: 16px 5px 14px !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	.main-header.header-style-three .nav-outer .main-menu::before {
		right: -2px;
		transform: skew(0);
		-moz-transform: skew(0);
	}
	
	.main-slider .tp-caption{
		display:none !important;	
	}
	.header-style-three.bg-top.bg-color {
		top: 95px;
	}
	.cs-header-top .cs-hearder-top-social li {
		float: none;
	}

	
	.cs-call-to-action-area .cs-action-col {
		border-right: none;
		padding-left: 0;
	}
	.cs-call-to-action-area .cs-action-content {
		text-align: center;
		padding-left: 0;
	}
	.cs-call-to-action-area .cs-action-content i {
		position: relative;
		margin-bottom: 20px;
	}
	.cs-call-to-action-area .cs-action-content p {
		margin-top: 20px;
	}
	.cs-features-area .cs-features-col .cs-features-content {
		top: 15%;
	}
	.cs-blog-area .cs-blog-col .cs-blog-img-box 
	.cs-over-text .cs-over-text-left li {
		margin-right: 20px;
	}
	.cs-blog-area .cs-blog-col .cs-blog-img-box 
	.cs-over-text .cs-over-text-right li {
		margin-left: 20px;
	}
	.flex-caption {
		padding: 20px 20px;
	}
	.flex-caption h2 {
		font-size: 55px;
		line-height: 55px;
	}
	.cs-error-inner {
		min-height: auto;
	}
	.cs-error-inner .cs-zero {
		font-size: 120px;
	}


}
@media only screen and (max-width: 530px) {
	.cs-features-area .cs-features-col .cs-features-content {
    	top: 0;
	}
}
@media only screen and (max-width: 480px) {
	.cs-full-wd {
		width: 100%;
	}
	.cs-features-area .cs-features-col .cs-features-content {
    	top: 25%;
	}
	.flex-caption p {
		font-size: 10px;
	}
	.flex-caption h2 {
		font-size: 36px;
		line-height: 36px;
	}
	.flex-caption {
		top: 25%;
	}
}
@media only screen and (max-width: 320px) {
	.cs-features-area .cs-features-col .cs-features-content {
    	top: 15%;
	}
}
