@model List<CuriousDriveWebClient.QuestionClassViewModel>;

<div class="col-md-12 col-xs-12">
    <br />
</div>

@for (int i = 0; i < Model.Count; i++)
{
    <button disabled="true" class="btn btn-circle">@Model[i].className </button>
}

<div class="col-md-12 col-xs-12">
    <br />
</div>