@model int

@using (Html.BeginForm("NotificationCount", "UserProfile", FormMethod.Post, new { role = "form" }))
{
<a href="@Url.Action("Notifications","UserProfile")" id="popoverLink" data-placement="bottom">
    @if (Model == 0)
    {
        <img src="~/Content/assets/global/img/notification_bell.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 1)
    {
        <img src="~/Content/assets/global/img/notification_count_1.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 2)
    {
        <img src="~/Content/assets/global/img/notification_count_2.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 3)
    {
        <img src="~/Content/assets/global/img/notification_count_3.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 4)
    {
        <img src="~/Content/assets/global/img/notification_count_4.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 5)
    {
        <img src="~/Content/assets/global/img/notification_count_5.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 6)
    {
        <img src="~/Content/assets/global/img/notification_count_6.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 7)
    {
        <img src="~/Content/assets/global/img/notification_count_7.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 8)
    {
        <img src="~/Content/assets/global/img/notification_count_8.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 9)
    {
        <img src="~/Content/assets/global/img/notification_count_9.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 10)
    {
        <img src="~/Content/assets/global/img/notification_count_10.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 11)
    {
        <img src="~/Content/assets/global/img/notification_count_11.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 12)
    {
        <img src="~/Content/assets/global/img/notification_count_12.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 13)
    {
        <img src="~/Content/assets/global/img/notification_count_13.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 14)
    {
        <img src="~/Content/assets/global/img/notification_count_14.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 15)
    {
        <img src="~/Content/assets/global/img/notification_count_15.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 16)
    {
        <img src="~/Content/assets/global/img/notification_count_16.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 17)
    {
        <img src="~/Content/assets/global/img/notification_count_17.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 18)
    {
        <img src="~/Content/assets/global/img/notification_count_18.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 19)
    {
        <img src="~/Content/assets/global/img/notification_count_19.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model == 20)
    {
        <img src="~/Content/assets/global/img/notification_count_20.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
    @if (Model > 20)
    {
        <img src="~/Content/assets/global/img/notification_count_20_plus.jpg" height="20px" width="20px" style="border-radius:10px" />
    }
</a> 

}