@model List<CuriousDriveWebClient.UserQuestionAnswerViewModel>

<div class="col-md-12 col-xs-12">
    <br />
</div>

@using (Html.BeginForm("UserQuestionAnswersList", "Question", FormMethod.Post, new { role = "form" }))
{
    <div class="col-md-12">
        <span style="font-weight:bolder;font-size:x-large">Answers</span>
        <hr />
    </div>

    if (Model.Count > 0)
    {
        for (int i = 0; i < Model.Count; i++)
        {

        <div class="col-md-12 hover_effect">
            <div class="col-md-12">
                @Html.ActionLink(Model[i].questionTitle,"Question" ,"Question",
                                                     new
                                                     {
                                                         id = Model[i].questionId,
                                                         title = Model[i].questionTitleURL
                                                     }, new { @class = "bold-main-link" })
                <br />
                @Model[i].answerHtml
            </div>
        </div>
        }
    }
    else
    {
        <div class="col-md-12">
            <span>
                There are no answers to show
            </span>
        </div>
    }
}

