@model CuriousDriveWebClient.UserProfileCardViewModel;

<div class="profile_card hover_effect">
    @await Html.PartialAsync("_ProfilePicture", Model.profilePictureViewModel)@*new ProfilePicture(Model.idoUser.pictureUrl, Model.idoUser.networkValue, 90, 90))*@
    <br />
    <div class="small-font">
        @Html.ActionLink(Model.displayName, "Profile", "UserProfile", new { id = Model.userId, title = Model.urlTitle }, new { @class = "bold" })
        <br />
    </div>
    <div class="small-font">
        @Model.userGroup
        <br />
    </div>
</div>
