@model List<CuriousDriveWebClient.UserTagViewModel>;

@for (int i = 0; i < Model.Count; i++)
{
    <button disabled="true" class="btn btn-circle">@Model[i].userTag </button>
}
<div class="col-md-12 col-xs-12">
    <br />
</div>
